-@ val assets:String = "/assets/"
-@ val email:String

:javascript
  $(document).ready( function() {
    $("#checkout-btn").hide()  
  });

.row
  .span12.underline 
    .title Confirm
    .subtitle.muted 
      em your purchase 
.row
  .span3.sidebar
  .span8.pull-right
    p Thank-you for your purchase, #{email}

    