-@ val assets:String = "/assets/"

:javascript
  
  simpleCart({
      cartColumns: [
        { attr: "name", label: "Item"},
        //{ view: "currency", attr: "price", label: "Price" },
        { attr: "quantity", label: "Qty"},
        { view: "decrement", label: false},
        //{ view: "currency", attr: "total", label: "SubTotal" },
        { view: "remove", text: "x", label: false}
      ],

      cartStyle: "div",

      checkout: {
        type: "SendForm",
        url: "/checkout"
      },

      currency: "CAD",

      language: "english-us",

      beforeAdd       : function( item ) { $(".cart").fadeOut(100); },
      afterAdd        : function( item ) { $(".cart").fadeIn(300); },
      load            : null,
      beforeSave      : null,
      afterSave       : null,
      update          : null,
      ready           : null,
      checkoutSuccess : null,
      checkoutFail    : null,
      beforeCheckout  : null,
      beforeRemove    : null
  });

  $(document).ready( function() {
      gregsts.listen('/listen');
  });
  
.row
  .span12
    .hero-unit
      .hero-caption T-shirts for all seasons
.row
  .span12.underline
    .title Feature:
    .subtitle.muted 
      em Chess Pieces 

.span3.sidebar 
  | The latest in Geek Chic - wear your favourite chess piece!
  .spacer &nbsp;
  img.img-polaroid(src={ assets + "images/coupon.jpg" })
.span8.pull-right
  .row
    ul.thumbnails
      li.span2.first
        .thumbnail.text-center.simpleCart_shelfItem
          img(src={ assets + "images/black_king_shirt.jpg"})
          .caption.item_name king (w/b)
          .item_price.hide  $9.99
          a.item_add.btn.btn-info.btn-small(href="javascript:;") $9.99 
      li.span2
        .thumbnail.text-center.simpleCart_shelfItem
          img(src={ assets + "images/white_king_shirt.jpg"})
          .caption.item_name king (b/w)
          .item_price.hide  $9.99
          a.item_add.btn.btn-info.btn-small(href="javascript:;") $9.99 
      li.span2
        .thumbnail.text-center.simpleCart_shelfItem
          img(src={ assets + "images/white_queen_shirt.jpg"})
          .caption.item_name  queen (b/w)
          .item_price.hide  $9.99
          a.item_add.btn.btn-info.btn-small(href="javascript:;") $9.99 
      li.span2
        .thumbnail.text-center.simpleCart_shelfItem
          img(src={ assets + "images/black_rook_shirt.jpg"})
          .caption.item_name  rook (w/b)
          .item_price.hide  $9.99
          a.item_add.btn.btn-info.btn-small(href="javascript:;") $9.99 
      li.span2.first
        .thumbnail.text-center.simpleCart_shelfItem
          img(src={ assets + "images/black_knight_shirt.jpg"})
          .caption.item_name  knight (w/b)
          .item_price.hide  $9.99
          a.item_add.btn.btn-info.btn-small(href="javascript:;") $9.99 
      li.span2
        .thumbnail.text-center.simpleCart_shelfItem
          img(src={ assets + "images/white_knight_shirt.jpg"})
          .caption.item_name  knight (b/w)
          .item_price.hide  $9.99
          a.item_add.btn.btn-info.btn-small(href="javascript:;") $9.99 
      li.span2
        .thumbnail.text-center.simpleCart_shelfItem
          img(src={ assets + "images/white_pawn_shirt.jpg"})
          .caption.item_name  pawn (b/w)
          .item_price.hide  $9.99
          a.item_add.btn.btn-info.btn-small(href="javascript:;") $9.99 
      li.span2
        .thumbnail.text-center.simpleCart_shelfItem
          img(src={ assets + "images/black_pawn_shirt.jpg"})
          .caption.item_name  pawn (w/b)
          .item_price.hide  $9.99
          a.item_add.btn.btn-info.btn-small(href="javascript:;") $9.99 

