-@ var body: String
-@ var assets: String = "/assets/" 


!!!5
| <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
| <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
| <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
| <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  title Greg's T-Shirts
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" type="text/css" href={ assets + "bootstrap/css/bootstrap.min.css"})
  link(rel='stylesheet' type='text/css' href={ assets + "stylesheets/main.css"})

  script(type="text/javascript" src={ assets + "javascripts/jquery-1.9.0.min.js"})
  script(type="text/javascript" src={ assets + "bootstrap/js/bootstrap.min.js"})
  script(type="text/javascript" src={ assets + "javascripts/simpleCart.min.js"})
  script(type="text/javascript" src={ assets + "javascripts/gregsts.min.js"})
  
  :javascript
    $(document).ready(function() {    
      $("#checkout").hide();
    });

body
  div.container.boxed
    - render("layouts/header.jade", Map("assets" -> assets))
    != body
    - render("layouts/footer.jade", Map("assets" -> assets))

:javascript
  $(".cart").click( function() {
    if ( $(".cart-detail").is(":hidden") && (simpleCart.quantity() > 0)) {
      $(".cart-detail").show();
    }
    else {
      $(".cart-detail").hide();
    }
    return false;
  });

  $("#checkout-btn").click( function() {
    if ( $("#checkout").is(":hidden")) {
      gregsts.displayCheckout();
    }
    else {
      gregsts.hideCheckout();
    }
    return false
  });

  $('body').click( function() {      
    if ($("#checkout").is(":visible")) {
      gregsts.hideCheckout();
    }
  });
  
  $(window).onbeforeunload = function() {
  	gregsts.ignore();
  };
