-@ val assets:String

.masthead
  .row
    .span3.logo
      h3.muted Greg's T-Shirts
    .span8
      .row
        .span1 &nbsp;
        .span3
          h4 Mobile Checkout Enabled
          .row
            .span6
              img.icon(src={ assets + "images/androidmarket_grey.jpg" })
              img.icon(src={ assets + "images/appstore_grey.jpg" })
        .span2.pull-right
          h4 Shopping Cart
          .row
            .cart.span2.pull-left
              i.icon-shopping-cart(style="margin-right: 7px;") 
              span.simpleCart_quantity 
              | items
              span.simpleCart_total
            i.icon-remove-sign.simpleCart_empty.pull-right
          .row.cart-detail.hide
            .simpleCart_items
          .row.checkout-row
            .dropdown.pull-right
              a.btn.btn-success.pull-right#checkout-btn(href="#" style="margin-right:3px;") Checkout
              div.dropdown-menu.pull-right#checkout
